@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

:root{

    // ### Colors
    // ### Primary
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    // ### Neutral
    : hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    // #### Media Screen
    --lg: 897
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro';
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    &:hover{
        color: var(--Dark-Grayish-Blue);
    }
}

li{
    list-style-type: none;
}

// body{
//     font-size: 14px;
// }

p{
    color: var(--Dark-Grayish-Blue);
    font-size: 1rem;
}

h1, h2, h3, h4, a{
    color: var(--Dark-Blue);
}

h1{
    font-size: 2.5rem;
}

//************ UTILITY CLASSES ************************//
.container{
    max-width: 974px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

a.btn, button.btn{
    &:hover{
        box-shadow: 0 1px 5px var(--Bright-Red);
        color: var(--Very-Light-Gray);
    }
}


.btn{
    padding: 7px 18px;
    border-radius: 22px;
    font-size: 12px;
    border: 1px transparent solid;
    font-weight: 500;
    transition: 500ms ease;
}

.btn-primary{
    color: var(--Very-Light-Gray);
    background: var(--Bright-Red);
}

.btn-primary-outline{
    color: var(--Bright-Red);
    background: var(--Very-Light-Gray);
    font-weight: 500;
}

footer{       
    a:hover, img{
        color: var(--Bright-Red) !important;
    }

    input.btn:focus{
        outline: none;
        color: var(--Bright-Red);
    }
}

// **************** MEDIA QUERIES *********************//
@media screen and (max-width:900px) {
    a{
        font-size: 15px;
    }

    h1{
        font-size: 1.8rem;
    }

    p{
        font-size: 16px !important;
    }
}


@media screen and (max-width:600px) {
    
    .container{
        max-width: 550px !important;
        padding: 2rem 2rem;
    }

    p{
        font-size: 16px;
    }

}
// **************** END MEDIA QUERIES *********************//
