
// **************** FOOTER SECTION *********************//

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--Very-Dark-Blue);
    .container{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        
        .logo-social{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .logo{
                color: var(--Very-Light-Gray) !important;
            }
    
            .social{
                ul{
                    display: flex;
                    gap: .8rem;
                }
            }
        }

        nav{
            display: flex;
            gap: 3rem;
            .nav-left, .nav-right{
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    
                    li a{
                        color: var(--Very-Light-Gray);
                    }
                }
            }
        }

        .contact{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .input-form form input{
                border: none;
                color: var(--Dark-Grayish-Blue)
            }

            .input-form form input:focus{
                border: none;
                color: var(--Bright-Red);
            }      
        }
    }

    .copyright{
        align-self: flex-end;
        font-size: 11px;
        color: var(--Dark-Grayish-Blue);
        margin: 0 1rem 1rem 0;
    } 
}

// **************** END FOOTER SECTION *********************//

@media screen and (max-width:650px) {
    #footer{
        background: var(--Very-Dark-Blue);
        .container{
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            
            .logo-social{
                display: flex;
                padding-top: 2rem;
                flex-direction: column-reverse;
                justify-content: space-between;
                gap: 2rem;
                .logo{
                    color: var(--Very-Light-Gray) !important;
                    align-self: center;
                }
        
                .social{
                    align-self: center;
                    ul{
                        display: flex;
                        gap: .8rem;
                    }
                }
            }
    
            nav{
                display: flex;
                justify-content: space-between;
                padding: 2rem;
                .nav-left, .nav-right{
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: .5rem;
                        
                        li a{
                            color: var(--Very-Light-Gray);
                        }
                    }
                }
            }
    
            .contact{
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .input-form form input{
                    border: none;
                    color: var(--Dark-Grayish-Blue)
                }
    
                .input-form form input:focus{
                    border: none;
                    color: var(--Bright-Red);

                }    
            }
        }
    }

    .copyright{
        align-self: center !important;
        font-size: 11px;
        color: var(--Dark-Grayish-Blue);
        
    } 
}
