
// **************** TESTIMONIAL SECTION *********************//

.swiper {
    width: 600px;
    height: 300px;
}

#testimonials{
    text-align: center;
    padding: 7rem 0 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .testimonials{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-left: -1rem;

        .testimonial-item{
            background: var(--Very-Light-Gray);
            padding: 1.5rem 1rem;
            display: flex;
            gap: 2rem;
            flex-direction: column;
            border-radius: 2px;
            font-size: 12px;
            align-content: center;
            justify-content: center;
            place-items: center;
            align-items: center;

            img{
                width: 70px;
            }

            h3{
                padding-top: 1rem;
                align-self: center;
            }

            p{
                text-align: center;
            }
        }
    }
}

._CTA{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

// **************** ENDTESTIMONIAL SECTION *********************//


@media screen and (max-width:600px) {
    

    #testimonials{
    
        .testimonials{
    
            .testimonial-item{
                
                background: var(--Very-Light-Gray);
    
                img{
                    width: 70px;
                }
                p{
                    text-align: center;
                }
            }
        }
    }

}