
// **************** HERO SECTION *********************//
#products{
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: cover;
        padding-top: 3rem;

        .hero{
            max-width: 40%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-top: 3rem;

            p{
                max-width: 300px;   
            }
        }

        .stats{
            max-width: 500px;

            img{
                max-width: 100%;
            }
        }
    }
}

// ****************END HERO SECTION *********************//

@media screen and (max-width:900px) {
    #products{
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: cover;
            padding-top: 1rem;
    
            .hero{
                max-width: 40%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding-top: 3rem;
    
                p{
                    max-width: 300px;   
                }
            }
    
            .stats{
                max-width: 500px;
    
                img{
                    max-width: 100%;
                }
            }
        }
    }
        
}

@media screen and (max-width:600px) {
    #products{
        .container{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center !important;
            align-content: center !important;
            padding-top: .5rem;
    
            .hero{
                max-width: 90%;
                margin: auto !important;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding-top: 1rem !important;
                text-align: center;
    
                p{
                    align-self: center;

                }

                .CTA{
                    align-self: center !important;
                }
            }
    
            .stats{
                max-width: 500px;
    
                img{
                    max-width: 100%;
                }
            }
        }
    }
}